deprecated/
results_*/
results/
.nextflow/
.vscode/
work/
sandbox/
resources/GCA_014549065.1_CCar_1.0_genomic.fna

.DS_Store
.Rhistory
.julia_history
._*
.nextflow.log*
.nextflow.pid*
submit_workflow.sh
poetry.lock
Manifest.toml
