params {

	// WORKFLOW PARAMETERS TO REVIEW AT EACH RUN
	// ----------------------------------------

    // Project name (no spaces allowed)
    project_name = "passerina_downsampling"

    /* samplesheet of metadata, most importantly:
        1 - A "Sample ID" column
        2 - A "Latitude" column of decimal latitudes
        3 - A "Longitude" column of decimal longitudes
        4 - A "Taxon shorthand" column for population codes
    */
    samplesheet = "$projectDir/resources/samplesheet.xlsx"

    // pre-called VCF file to start with instead of multiplexed
    // reads
    precalled_vcf = ""

    // Barcode sequences for demultiplexing reads
    demux_barcodes = "$projectDir/resources/barcodes.txt"

	// Where to place results
	results = "$launchDir/results"

	// comma-separated proportions to use when downsampling
	proportions = "0.5,0.8,0.9"

	// comma-separated seeds to use
	seeds = "1,2,3"

	// VCF FILTERING SETTINGS
	// ----------------------
	maf = 0.05 // minor allele frequency
	max_missing = 0.7 // max number of individuals where a variant can be missing
	hwe = 0.01 // hardy-weinberg equilibrium test cutoff. Variants below this p-value cutoff are removed.
	thinning = 20000 // thin sites so that no two variants are within this distance of each other to reduce LD
	// ----------------------

	// distance threshold for calling separate geographic clusters, in kilometers
	distance_threshold = 100

	// starting Q-value
	starting_q = 0.5


}


// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
	enabled = true
	file    = "${params.results}/report.html"
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
	enabled = true
	overwrite = true
	file = "${params.results}/workflow-visualization.png"
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = false


// PROFILE OPTIONS
profiles {

	standard {

		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false

		process.container = "nrminor/uwyo-thesis-proj:v.0.1.4"

	}

	docker {

		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false

		process.container = "nrminor/uwyo-thesis-proj:v.0.1.4"

	}

	singularity {

		singularity.enabled = true
		singularity.cacheDir = "work/singularity/"
		singularity.autoMounts = true
		docker.enabled = false
		conda.enabled = false

		process.container = "docker://nrminor/uwyo-thesis-proj:v.0.1.4"

	}

	apptainer {

		apptainer.enabled = true
		apptainer.cacheDir = "work/singularity/"
		apptainer.autoMounts = true
		docker.enabled = false
		conda.enabled = false

		process.container = "docker://nrminor/uwyo-thesis-proj:v.0.1.4"

	}

}


// MANIFEST
manifest {
	homePage = 'https://github.com/nrminor/uwyo-thesis-project/'
	mainScript = 'main.nf'
	defaultBranch = 'main'
	description = 'Stress-testing Passerina bunting cline analysis with spatially even and uneven downsampling'
	author = 'Nicholas R. Minor'
}
