// See https://nf-co.re/sarek/3.0.2/parameters for more about sarek parameters

params {
	
	// Adding reference genome options
	genomes {
		'CCar_1.0' {
		  fasta  = 'resources/GCA_014549065.1_CCar_1.0_genomic.fna' // The CCar 1.0 assembly (GenBank GCA_014549065.1)
		}
	  }
	
	// ignoring beartooth settings to avoid confusion
	schema_ignore_params = "genomes,date,cluster_account" 
	
	// beartooth run settings
	cluster_account = "passerinagenome"
	email = "nminor1@uwyo.edu"
	email_on_fail = "${params.email}"
	date = new java.util.Date().format('yyyyMMdd')
	
	// sarek I/O settings
	input = "resources/samplesheet.csv"
	outdir = "results_${params.date}"
	tracedir = "results_${params.date}/pipeline_info"
	genome = 'CCar_1.0'
	ascat_genome = "resources/GCA_014549065.1_CCar_1.0_genomic.fna"
	vep_include_fasta = true
	save_mapped = true
	save_output_as_bam = true
	save_bam_mapped = true
	igenomes_ignore = true
	save_reference = true
	
	// sarek tool settings
	max_cpus = 16
	seq_platform = "ILLUMINA"
	trim_fastq = true
	trim_nextseq = 1
	tools = "freebayes"
	only_paired_variant_calling = true
	skip_tools = "baserecalibrator,multiqc" // baserecalibrator must be skipped for non-human or non-mouse organisms. Skipping multiqc because it has almost always failed for me on beartooth.
	
}

// slurm settings
process.executor = 'slurm'
process.clusterOptions = "--account=" + "${params.cluster_account}"

// added nextflow setting
cleanup = true
