params {

	// beartooth run settings
	cluster_account = "passerinagenome"
	email = "nminor1@uwyo.edu"

}

profiles {

	standard {

		// slurm settings
		process.executor = 'slurm'
		process.container = 'docker://nrminor/uwyo-thesis-proj:v.0.1.3'
		process.clusterOptions = "--account=" + "${params.cluster_account}"
		process.memory = { 64.GB * task.attempt }
		// process.time = { 12.hours * task.attempt }
		process.errorStrategy = { task.attempt < 2 ? 'retry' : 'ignore' }
		process.maxRetries = 1

		// container settings
		singularity.enabled = true
		singularity.cacheDir = "work/singularity/"
		singularity.autoMounts = true
		docker.enabled = false
		conda.enabled = false
		podman.enabled = false
		shifter.enabled = false
		charliecloud.enabled = false

	}

}

// added nextflow setting
// cleanup = true
