params {
	
	// beartooth run settings
	cluster_account = "passerinagenome"
	email = "nminor1@uwyo.edu"
	email_on_fail = "${params.email}"
	date = new java.util.Date().format('yyyyMMdd')
	
}

// slurm settings
process.executor = 'slurm'
process.clusterOptions = "--account=" + "${params.cluster_account}"
process.errorStrategy = 'retry'
process.maxRetries = 1
		
// container settings
singularity.enabled = true
singularity.cacheDir = "work/singularity/"
singularity.autoMounts = true
docker.enabled = false
conda.enabled = false
podman.enabled = false
shifter.enabled = false
charliecloud.enabled = false

// added nextflow setting
cleanup = true